body {
    background: #f3f3f0;
    /* margin: 0;
    padding: 0;  */
    font-family: "Roboto", sans-serif;
}

.container {
    /* text-align: center; */
    width:80%;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
    background: #fff;
    padding: 2em ;
    margin: 2em;
    /* align-items: center; */   
}

h1 {
    text-align: center;
}


.form {
    display: flex;
    flex-direction: column;
    /* align-content: center; */
}

.form label {
    margin-left: 4.2rem;
}

.form input {
    width: 50%;
    margin-bottom: 1.5em;
    margin-left: 6em;
    padding: .5em;
    border-radius: 5px; 
    border: 1px solid #111111;
    align-items: center;
}

.form button {
    background-color:#3A5044;
    color: white;
    width: 7rem;
    border-radius:5px;
    /* padding:.5em; */
    font-size: 20px;
    margin-left: 7rem;
}


/* .contBtn, .logoutBtn {
    background-color: black;
    color: white;
    border-radius:5px;
    padding:.5em;
    font-size: .75rem;  
   
}  */